body {
    background-image: url("earth.jpg");
    color: antiquewhite;
}

.card {
    background-image: url("space.jpg");
    margin: 5px;
    color: antiquewhite;
}

.colorBox {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}